      <div class="container">
        <div class="header-left">
          <h2><span class="fa fa-graduation-cap"></span>Polgate</h2>
        </div>

        <div class="header-right">
          <a href="#選考用Slackへ"><span class="fa fa-slack"></span>応募する</a>
          <a href="#WEBサービスへ" class="login"><span class="fa fa-graduation-cap">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>Polgate＝Polca＋Progate</h1>
        <h1>次代のためのプログラミング学習の第一歩</h1>
        <p>Polgateとは...</p>
        <p>プログラミング学習サービスProgateで、決められたコース（※1）を修了された方に、フレンドファンディングアプリPolcaで、Progateでの１か月分のプラグラミング学習費用（月額980円）をキャッシュバックしようという前代未聞の企画です！</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">Polgateへ参加希望の方は（<span class="fa fa-slack"></span>選考用Slack）</a>
          <p>or</p>
          <a href="https://twitter.com/Polgateee" class="btn twitter">お問い合わせは（<span class="fa fa-twitter"></span>Polgate公式Twitter）</a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>（※１）Polgate参加者が選択するコースについて</h2>
          <h2>Polgate参加者は以下の２つのコースからいずれか１つを選び、修了をするとキャッシュバックを受けることができます。</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>フロントエンドコースを選択する方</p>
            </div>
            <p class="text-contents">HTML&CSS,git,command,JavaScript,jQuery,Sassコースの修了（道場コースは除く）でキャッシュバック！</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>サーバーサイドコースを選択する方</p>
            </div>
            <p class="text-contents">HTML&CSS,git,command,「ruby&ruby on rails 又は PHP 又は Python」コースの修了（道場コースは除く）でキャッシュバック！</p>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>あなたもPolgateでプログラミング学習の第一歩を踏み出しませんか?</h2>
          <h3></h3>
        </div>
        <span class="btn message"><span class="fa fa-slack"></span>さっそく応募する</span>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="">
        <p><span class="fa fa-graduation-cap"></span>Polgate</p>
      </div>
    </footer>